@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
	--bg: #fcfcfc;
	--color-headings: #0077FF;
    --color-text: #333333;
}

body {
	background-color: var(--bg);
	color: var(--color-text);
	font-family: 'Roboto', sans-serif;
}

pre {
	color: var(--color-text);
}

a {
	text-decoration: none;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

.line {
	background: var(--color-text);
	height: 0.1px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.width-brazil {
	width: 2.3%;
}

.width-usa {
	width: 3%;
}

@media (max-width: 376px) {
	.width-brazil {
		width: 10%;
	}

	.width-usa {
		width: 13%;
	}
}